<div class="container">
    <h2>My Tasks</h2>
    <!-- Add New Task Button -->
    <button routerLink='/tasks/add'>Add New Task</button>
    @if (Tasks.length > 0) {
    <ul>
        @for (task of Tasks; track task.id) {
        <li>
            <strong>{{ task.title }}</strong>
            <p>{{ task.description }}</p>
            <span>Status: {{ task.isCompleted ? 'Completed' : 'Pending' }}</span>
            <!-- Update and Delete Buttons -->
            <button [routerLink]="['/tasks/edit', task.id]" class="btn-update">Update</button>
            <button (click)="DeleteTask(task.id)">Delete</button>
        </li>
        }
    </ul>
    } @else {
    <p>No Tasks Found. Start Adding Some!</p>
    }
</div>